@model IEnumerable<SharePointMVC.Models.SpListViewModel>
@{
    ViewBag.Title = "AllLists";
}

<h2>AllLists</h2>

@foreach (var item in Model)
{
    <p>Title: @item.Title</p>
    <p>Type: @item.Type</p>
    <br />
}