
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/SharePoint/WebTitle">
    <button type="button" class="btn btn-success">Get web title name</button>
</a>
<a href="/SharePoint/AllLists">
    <button type="button" class="btn btn-success">Lists</button>
</a>

<a href="/SharePoint/ListDetails">
    <button type="button" class="btn btn-success">GetSpecificItemsInListTest</button>
</a>

<a href="/SharePoint/ListOneDetails">
    <button type="button" class="btn btn-success">ListOneTest</button>
</a>
