
@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_CustomLayout.cshtml";
}

<h2>Index</h2>

<a href="/SharePoint/WebTitle">
    <button type="button" class="btn btn-success">Get web title name</button>
</a>
<a href="/SharePoint/AllLists">
    <button type="button" class="btn btn-success">Lists</button>
</a>

