
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<button id="webTitle" type="button" class="btn btn-success">Web title</button>
<button id="allLists" type="button" class="btn btn-success">Lists</button>

<br/>

<div id="partialContentContainer">

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/SharePointScript")